<div>
  <h1>Enkelt plakat</h1>
  <div class="row">
    <div class="col">
      <h1 class="mt-2 text-left">Søg efter arrangement</h1>
    </div>
  </div>
  <div ng-if="slide.options.data" class="row border rounded-sm text-left
        mb-3 pt-3 pb-3">
    <div class="col-2">
      <img ng-src="{{slide.options.data.image}}"
           alt="{{slide.options.data.name}}" class="img-fluid">
    </div>
    <div class="col-10">
      <button class="btn btn-success btn-sm btn-inline float-right"
              ng-click="refreshEvent()"
              name="refreshContent">Opdater indhold
      </button>
      <p>Valgt begivenhed:</p>
      <p>
        <strong><span>{{slide.options.data.name}}</span> -
          <span>{{slide.options.data.startDate | date}}</span></strong>
      </p>
      <p>
        <button ng-click="toggleOverrides()">{{ displayOverrides ? 'Luk overskrivninger' : 'Rediger overskrivninger' }}</button>
      </p>
    </div>
  </div>
  <div ng-if="displayOverrides">
    <div class="row">
      <div class="col">
        <h1 class="mt-2 text-left">Overskrivninger</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-left">Overskrift</h2>
        <div class="form-group">
          <label class="text-left">{{slide.options.data.name}}</label>
          <textarea class="form-control" rows="3" placeholder="Overskrift overskrivning" ng-model="slide.options.overrides.name"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-left">Manchet</h2>
        <div class="form-group">
          <label class="text-left">{{slide.options.data.excerpt}}</label>
          <textarea class="form-control" rows="3" placeholder="Manchet overskrivning" ng-model="slide.options.overrides.excerpt"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-left">Billetpris</h2>
        <div class="form-group">
          <label class="text-left">{{slide.options.data.ticketPriceRange}}</label>
          <textarea class="form-control" rows="3" placeholder="Billetpris overskrivning" ng-model="slide.options.overrides.ticketPriceRange"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-left">Læs mere tekst</h2>
        <div class="form-group">
          <label class="text-left">{{slide.options.data.readMoreText}}</label>
          <textarea class="form-control" rows="3" placeholder="Læs mere overskrivning" ng-model="slide.options.overrides.readMoreText"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-left">Skjul tidspunkt</h2>
        <div class="form-check text-left">
          <input class="form-check-input" type="checkbox" ng-model="slide.options.overrides.hideTime">
          <label  class="form-check-label">
            Skjul tidspunkt
          </label>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!displayOverrides">
    <div class="row">
      <div class="col-12">
        <form ng-submit="search(typeSelect, searchName, searchUrl, searchOrganizer, searchOrganizer, searchPlace, 0)">
          <div class="form-row">
            <div class="col-2">
              <div class="form-group">
                <label class="sr-only" for="type-select">Vælg type</label>
                <select class="form-control" id="type-select" ng-model="typeSelect">
                  <option selected value="searchName">Navn</option>
                  <option value="searchUrl">URL</option>
                  <option value="searchOrganizer">Arrangør</option>
                  <option value="searchPlace">Sted</option>
                  <option value="searchTag">Tag</option>
                </select>
              </div>
            </div>
            <div class="col-8">
              <div class="form-group" ng-show="typeSelect === 'searchName'">
                <label for="form-name" class="sr-only">Søg efter begivenhed</label>
                <input class="form-control" id="form-name" type="text" ng-model="searchName" placeholder="Begivenhedsnavn">
              </div>
              <div class="form-group" ng-show="typeSelect === 'searchUrl'">
                <label for="form-url" class="sr-only">Link til begivenhed</label>
                <input class="form-control" id="form-url" type="text" ng-model="searchUrl" placeholder="Begivenhedens URL">
              </div>
              <div class="form-group" ng-show="typeSelect === 'searchOrganizer'">
                <label for="os2display-poster--select-single-organizers" class="sr-only">Arrangør</label>
                <select class="form-control" id="os2display-poster--select-single-organizers" ng-model="searchOrganizer" style="width: 100%"></select>
              </div>
              <div class="form-group" ng-show="typeSelect === 'searchPlace'">
                <label for="os2display-poster--select-single-places" class="sr-only">Sted</label>
                <select class="form-control" id="os2display-poster--select-single-places" ng-model="searchPlace" style="width: 100%"></select>
              </div>
              <div class="form-group" ng-show="typeSelect === 'searchTag'">
                <label for="os2display-poster--select-single-tags" class="sr-only">Tag</label>
                <select class="form-control" id="os2display-poster--select-single-tags" ng-model="searchTag" style="width: 100%"></select>
              </div>
            </div>
            <div class="col-2">
              <input class="btn btn-primary btn-block" type="submit" value="Søg">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row" ng-if="!events && showSpinner">
      <div class="col">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Henter resultater</span>
        </div>
      </div>
    </div>

    <div class="row" ng-if="events && !displayEvent">
      <div class="col-12">
        <p class="text-left">Resultater:</p>
        <table class="table table-hover text-left">
          <thead>
          <tr>
            <th scope="col">Billede</th>
            <th scope="col">Begivenhed</th>
            <th scope="col">Dato</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="event in events" ng-click="clickEvent(event)"
              style="cursor: pointer;">
            <td><img ng-src="{{event.images.small}}" alt="{{event.name}}"
                     style="max-width: 80px;"></td>
            <td><strong>{{event.name}}</strong><br>{{event.organizer.name}}
            </td>
            <td>{{event.occurrences[0].startDate | date}}<span ng-if="event.occurrences.length > 1">, ...</span></td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Pagination" style="display: flex; justify-content: center;" ng-if="pager.pagerMax > 1">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" ng-click="pagerBack()" aria-label="Tilbage" style="cursor: pointer">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" ng-repeat="page in getPagerPages()" ng-class="{'active': pager.currentPage === page}" style="cursor: pointer">
              <a class="page-link" ng-click="search(typeSelect, searchName, searchUrl, searchOrganizer, searchOrganizer, searchPlace, page)"> {{page}} </a>
            </li>
            <li class="page-item">
              <a class="page-link" ng-click="pagerForward()" aria-label="Frem" style="cursor: pointer">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row" ng-if="displayEvent">
      <div class="col-12">
        <p class="text-left">
          Valgt begivenhed: <strong>{{ displayEvent.name }}</strong> {{ displayEvent.organizer.name }}
        </p>
      </div>
      <div class="col-12">
        <p class="text-left">Vælg en forekomst</p>
        <table class="table table-hover text-left">
          <thead>
          <tr>
            <th scope="col">Dato</th>
            <th scope="col">Pris</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="occurrence in displayEvent.occurrences"
              ng-click="clickOccurrence(occurrence)"
              style="cursor: pointer;">
            <td>{{occurrence.startDate | date}}</td>
            <td>{{occurrence.ticketPriceRange}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
