<div>
  <h1>Abonnementsplakat</h1>

  <div class="spinner" ng-if="loading"></div>

  <h2>Place</h2>
  <select id="os2display-poster--select-subscription-place" name="states[]" multiple="" style="width: 100%" ng-show="!loading">
    <option ng-repeat="subOption in selectOptions[0].subOptions" value="{{subOption.val}}">
      {{subOption.text}}
    </option>
  </select>

  <h2>Organizer</h2>
  <select id="os2display-poster--select-subscription-organizers" name="states[]" multiple="" style="width: 100%" ng-show="!loading">
    <option ng-repeat="subOption in selectOptions[1].subOptions" value="{{subOption.val}}">
      {{subOption.text}}
    </option>
  </select>

  <h2>Tag</h2>
  <select id="os2display-poster--select-subscription-tags" name="states[]" multiple="" style="width: 100%" ng-show="!loading">
    <option ng-repeat="subOption in selectOptions[2].subOptions" value="{{subOption.val}}">
      {{subOption.text}}
    </option>
  </select>
</div>
