<div>
  <h1>Abonnementsplakat</h1>

  <div class="spinner" ng-if="loading"></div>

  <h2>Place</h2>
  <select id="os2display-poster--select-subscription-places" name="states[]" multiple="" style="width: 100%" ng-show="!loading">
<!--    <option ng-repeat="subOption in selectOptions.places.options" value="{{subOption.id}}">
      {{subOption.text}}
    </option>
-->
  </select>

  <h2>Organizer</h2>
  <select id="os2display-poster--select-subscription-organizers" name="states[]" multiple="" style="width: 100%" ng-show="!loading">
<!--
    <option ng-repeat="subOption in selectOptions.organizers.options" value="{{subOption.id}}">
      {{subOption.text}}
    </option>
    -->
  </select>

  <h2>Tag</h2>
  <select id="os2display-poster--select-subscription-tags" name="states[]" multiple="" style="width: 100%" ng-show="!loading">
    <!--
    <option ng-repeat="subOption in selectOptions.tags.options" value="{{subOption.id}}">
      {{subOption.text}}
    </option>
    -->
  </select>
</div>
